body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  color: #333;
}

header {
  background-color: #4700ec;
  color: white;
  padding: 2rem;
  text-align: center;
}

section {
  padding: 2rem;
}

footer {
  background-color: #eee;
  padding: 1rem;
  text-align: center;
}

a i {
  font-size: 30px;
  color: #000;
  margin: 10px;
  transition: color 0.3s;
  display: inline-block;
}

a i:hover {
  color: #00ffcc;       /* Color cuando pasás el mouse */
}
